{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fabelio Experiences Page</title>
    {% include 'headImport.html' %}
</head>
<body style="height: 100vh">
{% include 'navbar.html' %}
<section class="fab-experience">
    <div class="title-with-logo">
        <h1 class="title-exp">Fabelio Intern Experience</h1>
        <img class="logo-fab" src="{% static 'assets/fabelio.png' %}" width="200" height="40">
    </div>
    <div class="blog-text">
        <div class="text-fab">
            <p align="justify">
                A few days before my second semester end, I tried to apply for intership program, because I think my 3
                months will be useless if I do nothing. Then while searching for intership program, I suddenly found job
                vacancy by Fabelio, I got excited because I think that I fulfill the requirements then I apply. When I
                apply
                and sent the email, I don’t expect much that I would be called by the HR because I’m only on my second
                semester and still have zero experience in work environment. But later after class, I suddenly called by
                the
                HR and they said that they interested with my profile and called me for an interview, I’m so happy. The
                next
                day, I went to the office and got interviewed around an hour. At first, I interviewed by HR then they
                called
                the IT Lead for the second interviewer. Surprisingly, the IT Lead like my profile and he said that he
                want
                to give me a chance as an intern at Fabelio.<br>

                <br>On Tuesday, 5th June 2018, I started my internship program with Fabelio. The IT team is really
                humble and
                friendly. I became a web developer intern here, I got many new knowledge from the last 3 months working
                here. The other teammate really taught me a lot about work environment. And I feel so lucky to be given
                opportunity to work here.
            </p>
        </div>
    </div>
</section>
</body>
<footer class="line-blue">
</footer>
</html>