html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: bold;
}

#nav {
    transition: 0.4s;
}

.navbar-nav a {
    transition: 0.4s;
    color: black;
    font-weight: bold;
}

.navbar-brand {
    display: none;
}

.navbar .navbar-collapse span {
    color: black;
}

.active a {
    background-color: lightskyblue;
    border-radius: 20px;
}

.active {
    background-color: lightskyblue;
    border-radius: 20px;
}

.navbar-nav a:hover {
    transition: 0.3s;
    background-color: lightskyblue;
    border-radius: 20px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 3em;
    padding-right: 3em;
}

.homepage {
    background: url("../assets/bg.png") no-repeat fixed center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

@media screen and (min-height: 800px) {
    .homepage {
        height: 100vh;
    }
}

.img {
    padding-top: 160px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.skills {
    justify-content: center;
    position: relative;
    padding: 72px 68px 20px 68px;
}

.skills .title {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: 54px;
    background-color: #8bc1ff;
    border-radius: 36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    margin-bottom: 28px;
}

.title p {
    width: 330px;
    height: 34px;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3d618b;
}

.text {
    margin-top: 32px;
    font-size: 18px;
}

.container-skills-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 36px;
}

.icon-interpersonal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-interpersonal span {
    margin-top: 12px;
}

.img-size {
    width: 130px;
    height: 130px;
}

.img-size-no-border {
    width: 130px;
    height: 130px;
}

.section {
    padding-right: 136px;
    padding-left: 136px;
}

.line {
    background: linear-gradient(90deg, #246655, #243866, #ded500);
    height: 6px;
    -webkit-animation: changeColor 3s ease infinite;
    -moz-animation: changeColor 3s ease infinite;
    animation: changeColor 3s ease infinite;
}

@-webkit-keyframes changeColor {
    0% {
        background: linear-gradient(90deg, #246655, #243866, #ded500);
    }
    25% {
        background: linear-gradient(90deg, #243866, #ded500, #246655);
    }
    50% {
        background: linear-gradient(90deg, #243866, #246655, #ded500);
    }
    75% {
        background: linear-gradient(90deg, #ded500, #243866, #246655);

    }
    100% {
        background: linear-gradient(90deg, #246655, #ded500, #243866);
    }
}

@-moz-keyframes changeColor {
    0% {
        background: linear-gradient(90deg, #246655, #243866, #ded500);
    }
    25% {
        background: linear-gradient(90deg, #243866, #ded500, #246655);
    }
    50% {
        background: linear-gradient(90deg, #243866, #246655, #ded500);
    }
    75% {
        background: linear-gradient(90deg, #ded500, #243866, #246655);
    }
    100% {
        background: linear-gradient(90deg, #246655, #ded500, #243866);
    }
}

@keyframes changeColor {
    0% {
        background: linear-gradient(90deg, #246655, #243866, #ded500);
    }
    25% {
        background: linear-gradient(90deg, #243866, #ded500, #246655);
    }
    50% {
        background: linear-gradient(90deg, #243866, #246655, #ded500);
    }
    75% {
        background: linear-gradient(90deg, #ded500, #243866, #246655);

    }
    100% {
        background: linear-gradient(90deg, #246655, #ded500, #243866);
    }
}

.experiences {
    margin-bottom: 60px;
}

.experiences-contents .content {
    padding: 36px;
    width: 800px;
    height: 216px;
    border: 4px solid #3D618B;
    border-radius: 30px;
}

.experiences-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#fabelio-exp {
    display: flex;
}

.text-box {
    flex: 2;
}

.img-fabelio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fabelio img {
    width: 164px;
    height: 36px;

}

.img-fabelio span {
    padding-top: 10px;
    font-size: 12px;
}

#fabelio-exp .title {
    font-size: 20px;
    margin-bottom: 0;
}

.container {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3D618B;
    height: 320px;
    max-height: 320px;
}

.footer .title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.footer .body-text {
    text-align: center;
    color: white;
}

.footer .text-footer {
    padding-top: 24px;
    margin-bottom: 12px;
}

.footer-img-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.footer-icon {
    width: 400px;
    max-width: 400px;
    font-size: 28px;
    color: white;
}

.footer-img-list i {
    color: white;
}

.footer-img-list i:hover {
    transition: 0.5s;
    color: black;
}

.year {
    margin-bottom: 8px;
    font-size: 10px;
    color: white;
}

#link-fabelio-exp {
    color: black;
    text-decoration: none;
}

#link-fabelio-exp:hover #fabelio-exp {
    transition: 0.5s;
    background-color: #8bc1ff;
    color: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
}

.arrow {
    text-align: center;
    margin: 4% 0;
}

.fa-angle-double-down {
    color: black;
}

.fa-angle-double-down:hover {
    color: lightskyblue;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.main-timeline {
    position: relative;
    overflow: hidden;
    margin-top: 24px;
}

.main-timeline:before {
    content: "";
    width: 10px;
    height: 80%;
    border-right: 8px dotted #000;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.main-timeline .timeline {
    width: 50.1%;
    float: right;
    padding: 10px 100px 10px 50px;
    position: relative;
}

.main-timeline .timeline:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fd8c00;
    border: 5px solid #fff;
    box-shadow: 0 0 0 3px #fd8c00;
    position: absolute;
    top: 25px;
    left: -13px;
}

.main-timeline .timeline-content {
    display: block;
    position: relative;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .title {
    display: inline-block;
    padding: 8px 55px 8px 25px;
    margin: 0 0 10px 0;
    border: 3px solid #fff;
    border-radius: 25px 25px 25px 0;
    background: #fd8c00;
    box-shadow: 0 0 0 3px #fd8c00;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.main-timeline .description {
    padding: 0 15px;
    font-size: 15px;
    color: #000;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}

.main-timeline .timeline:nth-child(2n) {
    float: left;
    padding: 10px 50px 10px 100px;
}

.main-timeline .timeline:nth-child(2n):before {
    left: auto;
    right: -15px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    text-align: right;
}

.main-timeline .timeline:nth-child(2n) .title {
    padding: 8px 25px 8px 60px;
    border-radius: 25px 25px 0 25px;
}

.main-timeline .timeline:nth-child(2n) .title i {
    right: auto;
    left: 15px;
}

.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .title {
    background: #018e8f;
    box-shadow: 0 0 0 3px #018e8f;
}

.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .title {
    background: #0062b0;
    box-shadow: 0 0 0 3px #0062b0;
}

.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .title {
    background: #fa2300;
    box-shadow: 0 0 0 3px #fa2300;
}

@media only screen and (max-width: 1200px) {
    .main-timeline .title {
        font-size: 20px;
        padding-left: 10px;
    }

    .main-timeline .timeline:nth-child(2n) .title {
        padding-right: 10px;
    }
}

@media only screen and (max-width: 990px) {
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(2n) {
        padding: 10px 50px;
    }
}

@media only screen and (max-width: 767px) {
    #nav, #nav-in-fab {
        background-color: #3d618b;
        color: white;
    }

    .navbar {
        align-items: flex-end;
        justify-content: flex-end;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 1em;
        padding-right: 1em;
        color: white;
    }

    #mainNav {
        color: white;
    }

    .text {
        padding-right: 20px;
        padding-left: 20px;
    }

    .text p {
        font-size: 16px;
    }

    .img {
        padding-top: 20%;
    }

    .navbar-nav a {
        color: white;
    }

    .footer-icon {
        width: 100%;
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .footer {
        font-size: 14px;
    }

    .footer .title {
        font-size: 18px;
    }

    .skills {
        padding: 12px 20px 0px 20px;
    }

    .interpersonal-skill, .programming-skill {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .experiences-contents .content {
        width: 100%;
        height: 70%;
    }

    .text .content {
        font-size: 14px;
    }

    .experiences {
        padding-left: 20px;
        padding-right: 20px;
    }

    #fabelio-exp {
        font-size: 12px;
        margin-bottom: 0;
    }

    #fabelio-exp .title {
        font-size: 16px;
    }

    .img-fabelio span {
        padding-top: 10px;
        font-size: 10px;
    }

    .text-box {
        margin-right: 10%;
        padding: 2px;
    }

    .img-fabelio img {
        width: 100px;
        height: 20px;
    }

    .img-size {
        width: 90px;
        height: 90px;
    }

    .icon-interpersonal span {
        font-size: 12px;
        margin-bottom: 14px;
    }

    .main-timeline:before {
        left: 20px;
    }

    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd) {
        width: 100%;
        float: none;
        padding: 10px 50px 10px 55px;
    }

    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before {
        left: 5px;
    }

    .main-timeline .timeline:nth-child(2n) .timeline-content {
        text-align: left;
    }

    .main-timeline .timeline:nth-child(2n) .title {
        padding: 8px 55px 8px 10px;
        border-radius: 25px 25px 25px 0;
    }

    .main-timeline .timeline:nth-child(2n) .title i {
        left: auto;
        right: 15px;
    }

    .main-timeline .title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 479px) {
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(2n) {
        padding: 10px 0 10px 55px;
    }
}

/** CSS for Fabelio Experience Page **/
#nav-in-fab {
    background-color: #3d618b;
}

#nav-in-fab .nav-item .nav-link {
    color: white;
}

.fab-experience {
    height: 95%;
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 90px;
}

.title-with-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.title-exp {
    font-weight: bold;
}

.blog-text {
    color: white;
    background-color: #3d618b;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.10);
    padding-left: 60px;
    padding-right: 200px;
    border-radius: 36px;
    border: solid black;
    height: 450px;
}

.text-fab {
    padding-top: 60px;
    width: 100%;
}

.text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.logo-fab {
    width: 200px;
    height: 40px;
}

/** Registration Form */
.registration-form {
    padding-top: 60px;
    height: 95%;
}

input {
    width: 400px;
    padding: 6px;
    font-size: 12px;
    border: solid 1px #3D618B;
    border-radius: 10px;
    margin-bottom: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    border: solid #3D618B;
    border-radius: 20px;
    width: 100%;
    height: 360px;
    padding: 24px 54px 24px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-group label {
    margin-bottom: 0;
    flex: 1;
}

.form-group input {
    justify-content: center;
    align-items: center;
    flex: 2;
    width: 80%;
}

.registration-form {
    padding-left: 240px;
    padding-right: 240px;
}

.submit-button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.submit-button .submit {
    background-color: #3d618b;
    color: white;
    margin-top: 20px;
    height: 40px;
    width: 200px
}

.submit:hover {
    transition: 0.5s;
    background-color: lightskyblue;
    color: black;
    cursor: pointer;
}

.line-blue {
    width: 100%;
    background-color: #3D618B;
    height: 5%;
}

.activity {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-text {
    color: white;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #3d618b;
    padding: 8px;
}

.activity-text:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: lightskyblue;
    color: black;
}

.title-activity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-activity h1 {
    margin-bottom: 0.5rem;
}

.underline {
    display: inline-block;
    border-top: 8px solid #3d618b;
    width: 26%;
    margin-bottom: 1.5rem;
}

/* Result page CSS */
.result {
    padding-top: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.activities-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: solid 2px #3d618b;
    border-radius: 20px;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;
    background-color: #3d618b;
}

.underline-on-result {
    display: inline-block;
    border-top: 8px solid #3d618b;
    width: 20%;
    margin-bottom: 1rem;
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.delete {
    color: white;
    background-color: #960018;
    width: 20%;
    padding: 0.5rem;
}

.delete:hover {
    transition: 0.5s;
    color: black;
    background-color: lightskyblue;
    cursor: pointer;
}

.back {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.back .back-button {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 12px;
    color: white;
    background-color: #3d618b;
}

.back-button:hover {
    transition: 0.5s;
    text-decoration: none;
    color: black;
    background-color: lightskyblue;
}

@media screen and (max-width: 767px) {
    .fab-experience {
        padding-left: 6px;
        padding-right: 6px;
    }

    .blog-text {
        padding: 4%;
        height: auto;
        border: none;
    }

    .text-fab {
        padding-top: 4%;
        font-size: 12px;
    }

    .logo-fab {
        width: 160px;
        height: 30px;
        padding-right: 4%;
    }

    .title-with-logo h1 {
        padding-right: 4%;
        padding-left: 4%;
        font-size: 1.5em;
        margin-bottom: 4%;
    }

    input {
        width: 100%;
        padding: 6px;
        font-size: 12px;
        border: solid 1px #3D618B;
        border-radius: 10px;
        margin-bottom: 8px;
    }

    .registration-form {
        padding-right: 6px;
        padding-left: 6px;
    }

    .submit-button .submit {
        margin-top: 20px;
        height: 40px;
        width: 20%;
    }

    .title-form {
        font-size: 1em;
        padding-bottom: 0;
    }

    .form {
        font-size: 14px;
        border: solid 1px #3D618B;
        border-radius: 20px;
        padding: 2% 1%;
        height: auto;
    }

    .form-group {
        flex-direction: column;
    }

    .line-blue {
        display: none;
    }

    .result {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .list {
        padding: 1rem;
        width: 90%;
    }

    .submit-button {
        padding-right: 1rem;
        padding-bottom: 0.5rem;
    }

    .delete {
        width: auto;
    }

}

