<header>
    <nav id="nav-in-fab" class="navbar navbar-expand-md fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a id="a-home" class="nav-link" href="{% url 'index-homepage' %}#homepage">HOME</a>
                </li>
                <li class="nav-item"><a id="a-skill" class="nav-link"
                                        href="{% url 'index-homepage' %}#skills">SKILLS</a></li>
                <li class="nav-item"><a id="a-education" class="nav-link" href="{% url 'index-homepage' %}#education">EDUCATION</a>
                </li>
                <li class="nav-item {{ experience_page }}"><a id="a-exp" class="nav-link"
                                                              href="{% url 'index-homepage' %}#experiences">EXPERIENCES</a>
                </li>
                <li class="nav-item"><a id="a-contact" class="nav-link"
                                        href="{% url 'index-homepage' %}#footer">CONTACT</a></li>
                <li class="nav-item {{ form_page }}"><a id="a-guest" class="nav-link" href="{% url 'form-page' %}"
                                                        target="_blank">ACTIVITY</a></li>
            </ul>
        </div>
    </nav>
</header>
