{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Activity Form</title>
    {% include 'headImport.html' %}
</head>
<body style="height: 100vh">
{% include 'navbar.html' %}
<section id="guest" class="registration-form">
    <div class="title-activity">
        <h1 class="title-form" align="center">Add Activity</h1>
        <div align="center" class="underline"></div>
    </div>
    <form action="/form/" class="form" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <div class="submit-button">
            <input class="submit" type="submit" value="Submit">
        </div>
    </form>
    <section class="activity">
        <a href="{% url 'result-page' %}" class="activity-text">Show All Activity</a>
    </section>
</section>

</body>
<footer class="line-blue">
</footer>
</html>