{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity List</title>
    {% include 'headImport.html' %}
</head>
<body>
{% include 'navbar.html' %}
<section class="result">
    <div class="title-activity">
        <h1 class="title-form" align="center">All Activities</h1>
        <div align="center" class="underline-on-result"></div>
    </div>
    <form action="/form/result" class="delete-button" method="POST">
        {% csrf_token %}
        <input class="delete" type="submit" value="Delete All">
    </form>
    <div class="activities-list">
        {% for result in activity %}
            <div class="list">
                <p>Activity: {{ result.activity_name }}</p>
                <p>Date: {{ result.date }}</p>
                <p>Time: {{ result.time }}</p>
                <p>Category: {{ result.category }}</p>

            </div>
        {% endfor %}
    </div>
    <div class="back">
        <a href="{% url 'form-page' %}" class="back-button">Back</a>
    </div>
</section>

</body>
</html>